{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-8 col-md-12 col-lg-6">
                <img src="{% static 'images/bc_hero.jpg' %}" class="d-block mx-auto img-fluid" alt="LitRPG Library Logo" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Chain Breakers</h1>
                <p class="lead">Breaking Chains, Restoring Freedom - Together Against Human Trafficking.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{% url 'resources' %}" class="btn btn-lg px-4 me-md-2">How to Report</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}