:root {
    /* Background Colors */
    --nav-bg:#1C1F33; /*Dark Dark Blue-Black */
    --bg-primary: #00509E; /* Dark Blue */
    --bg-secondary: #F5F9FF; /* Very Light Blue */
    --bg-neutral: #B3DFF2; /* Light Blue */

    /* Text Colors */
    --text-primary: #4F4F4F; /* Dark Gray */
    --text-secondary: #D6D9E0; /* Light Gray */
    --text-muted: #017374; /* Teal */

    /* Accent Colors */
    --accent-primary: #FFC107; /* Yellow */
    --accent-secondary: #2C85FD; /* Bright Blue */
    --accent-danger: #FF6F61; /* Red-Orange */
}

