:root {
    /* Background Colors */
    --nav-bg:#1C1F33; /*Dark Dark Blue-Black */
    --bg-card: #90d885; /* Dark Blue */
    --bg-secondary: #F5F9FF; /* Very Light Blue */
    --bg-neutral: #B3DFF2; /* Light Blue */

    /* Text Colors */
    --text-primary: #4F4F4F; /* Dark Gray */
    --text-secondary: #D6D9E0; /* Light Gray */
    --text-muted: #017374; /* Teal */

    /* Accent Colors */
    --accent-primary: #FFC107; /* Yellow */
    --accent-secondary: #2C85FD; /* Bright Blue */
    --accent-danger: #FF6F61; /* Red-Orange */
}

div.card-body {
    background-color: var(--nav-bg);
}

.card-title  {
    color: #c7cbe4;
}

.reportlink {
    color: var(--text-secondary);
}


