:root {
    /* Background Colors */
    --nav-bg:#1C1F33; /*Dark Dark Blue-Black */
    --bg-primary: #00509E; /* Dark Blue */
    --bg-secondary: #F5F9FF; /* Very Light Blue */
    --bg-neutral: #B3DFF2; /* Light Blue */

    /* Text Colors */
    --text-primary: #4F4F4F; /* Dark Gray */
    --text-secondary: #D6D9E0; /* Light Gray */
    --text-muted: #017374; /* Teal */

    /* Accent Colors */
    --accent-primary: #FFC107; /* Yellow */
    --accent-secondary: #2C85FD; /* Bright Blue */
    --accent-danger: #FF6F61; /* Red-Orange */
}

.bg-image {
    background-image: url('/static/images/sim_bg.webp');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(28, 31, 51, 1);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color:var(--accent-danger);
}

p {
    color:var(--text-secondary);
}

#scenario {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

/* cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

#scenario-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.scenario-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.scenario-card:hover {
    transform: scale(1.05);
}

.scenario-image {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#scenario-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
        max-width: 100%;
    }
}
