.container {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #007BFF;
}

h2 {
    font-size: 2.5rem;
    color: #28A745;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}
